section#contact>div>div>p
{
    padding-left: 2rem;
    padding-bottom: 1.5rem;    
}

#logo
{
    width: 20vw;
}

iframe
{
    height: 100%;
    width: 100%;
    border: 0px;
}

ul>li.a {
    list-style-type: circle;
}


#cert_iso
{
        height: 25vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
 
}


.fa-phone,.fa-square-envelope{
padding-right: 1rem;    
}
